<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
 	<typeAlias type="global.sesoc.game.dto.Account" alias="Account" />
  	<typeAlias type="global.sesoc.game.dto.GameChar" alias="GameChar" />
  	<typeAlias type="global.sesoc.game.dto.Item" alias="Item" />
  	<typeAlias type="global.sesoc.game.dto.Score" alias="Score" />
 	<typeAlias type="global.sesoc.game.dto.UserItem" alias="UserItem" />
  	<typeAlias type="global.sesoc.game.dto.Stage" alias="Stage" />
  	<typeAlias type="global.sesoc.game.dto.Script" alias="Script" />
  </typeAliases>
  <mappers>
    <mapper resource="mappers/accountMapper.xml"/>
    <mapper resource="mappers/gameCharMapper.xml"/>
    <mapper resource="mappers/stageMapper.xml"/>
  </mappers>
</configuration>